.fundoLogin {
  background-color: #407BFF99;
  background-image: url('https://i.imgur.com/9OZAbB5.png');
  min-height: 100vh;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.loginTitle {
  font-size: 3rem !important;
  font-weight: 800 !important;
  color: #407BFF;
  letter-spacing: 2px !important;

}

.linkCadastro {
  text-decoration: underline;
}

.loginBtn {
  padding: .5rem 3rem ;
  border: 1px solid #407BFF;
  border-radius: 2rem ;
  background-color: #407BFF ;
  color: #fff ;
  font-size: 18px;
  cursor: pointer;
}

.loginBtn:disabled {
  background-color: #fff ;
  color: #407BFF ;
  cursor: not-allowed;
}