.loginPage {
  width: 100vw;
  min-height: calc(100vh - 64px);

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('https://wallpaperaccess.com/full/1162901.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  background: linear-gradient(36deg, #f0c25a95 8%, #8f4b2595 89%);
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-height: 30vh;
  padding: 1rem;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px
}

label {
  color: #fff !important
}

h3 {
  color: white
}

.botao {
  background-color: #8f4b2595 !important
}

.MuiInput-underline:before {
  border-bottom: 2px solid #e8d69d!important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #e8d69d !important
}